@model webdev.Models.Link

<h2>Add new link</h2>

    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        @Html.ValidationSummary();
        <br/>
        @Html.LabelFor(link => link.FullLink)
        @Html.EditorFor(link => link.FullLink)
        @Html.ValidationMessageFor(link => link.FullLink)
        <button type="submit">Add</button>
    }
